
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="icon" href="{% static 'img/logo-D.svg' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap" rel="stylesheet">
  <title>Dexterity Remodeling & Construction</title>
</head>
<body>
  <div class="content">
    <img class="logo" src="{% static 'img/dexterity-word.png' %}" alt="Dexterity">
    <img class="sublogo" src="{% static 'img/dexterity-subword.png' %}" alt="Remodeling & Construction">
    <div class="phrase">
      <h1>From Floor, Ceiling, and Wall.</h1>
      <h1>Start to Finish, We Do It All.</h1>
    </div>
    <div class="info">
      <div class="services">
        <div class="service service-1">
          <img class="service-icon" src="{% static 'img/knife.svg' %}" alt="knife-icon">
          <h2>Drywall & Texture</h2>
        </div>
        <div class="service service-2">
          <img class="service-icon" src="{% static 'img/roller.svg' %}" alt="roller-icon">
          <h2>Painting</h2>
        </div>
        <div class="service service-3">
          <img class="service-icon" src="{% static 'img/floor.svg' %}" alt="floor-icon">
          <h2>Flooring & Molding</h2>
        </div>
      </div>
      <h3>Website is currently being remodel, Please call:</h3>
      <h2>(432) 282-3450</h2>
    </div>
  </div>
</body>
</html>